<!DOCTYPE html>
<html>
  <head>
    <title>AppointmentApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- bootstrap code-->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">-->

  </head>

  <body>
          <div class= "page-header">
            <h2> Time Bud</h2>
                <small>here ensure that you never miss a deadline!</small>
          </div>
          <ul>
            <li>
              <%= link_to "Home", "/" %>
            </li>
            <li>
              <%= link_to "Schedule", new_appointment_path %>
            </li>
          </ul>
          <%= yield %>

  </body>
</html>
